@use '../css/vendor/normalize.css';

html,
body { 
	height: 100%;
	width:100%;
	margin: 0;
	padding: 0;
}  
body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#094c72+98,01293f+100 */
	background: rgb(9,76,114);
	background: -webkit-radial-gradient(left, ellipse cover,  rgb(9,76,114) 0%,rgb(1,41,63) 100%);
	background: -webkit-radial-gradient(ellipse at left, rgb(9,76,114) 0%, rgb(1,41,63) 100%);
	background: -webkit-radial-gradient(left, ellipse, rgb(9,76,114) 0%, rgb(1,41,63) 100%);
	background: radial-gradient(ellipse at left,  rgb(9,76,114) 0%,rgb(1,41,63) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#094c72', endColorstr='#01293f',GradientType=1 );
}

@function box-shadow($stars) {
	$bxshadow: ();
	@for $i from 1 to $stars {
		$bxshadow: append($bxshadow, (random(2000) + 0px) (random(2000) + 0px) #fff, comma);
	}
	@return $bxshadow;
}

$bxshadow-large: box-shadow(300);
$bxshadow-medium: box-shadow(500);
$bxshadow-small: box-shadow(800);

.stars.large {
	height: 3px;
	width: 3px;
	background: transparent;
  box-shadow: $bxshadow-large;
  border-radius: 50%;
}
.stars.medium {
	height: 2px;
	width: 2px;
	background: transparent;
	box-shadow: $bxshadow-medium;
}
.stars.small {
	height: 1px;
	width: 1px;
	background: transparent;
	box-shadow: $bxshadow-small;
}
